kubeProxyReplacement: true
k8sServiceHost: 127.0.0.1
k8sServicePort: "6443"
routingMode: tunnel
tunnelProtocol: vxlan
devices: "eth+ wlan+"
l7Proxy: false
encryption:
  enabled: true
  type: wireguard
ipam:
  operator:
    clusterPoolIPv4PodCIDRList:
      - 10.42.0.0/16
operator:
  replicas: 1
  resources:
    requests:
      cpu: 20m
      memory: 64Mi
    limits:
      memory: 128Mi
envoy:
  enabled: false
policyEnforcementMode: always
policyAuditMode: false
hubble:
  enabled: true
  tls:
    auto:
      method: cronJob
  ui:
    enabled: true
    backend:
      resources:
        requests:
          cpu: 10m
          memory: 32Mi
        limits:
          memory: 96Mi
    frontend:
      resources:
        requests:
          cpu: 10m
          memory: 32Mi
        limits:
          memory: 64Mi
  relay:
    enabled: true
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        memory: 64Mi
resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    memory: 512Mi
