disable:
  - traefik
  - servicelb
flannel-backend: "none"
disable-network-policy: true
disable-kube-proxy: true
secrets-encryption: true
write-kubeconfig-mode: "0600"
kube-apiserver-arg:
  - audit-policy-file=/etc/rancher/k3s/audit-policy.yaml
  - audit-log-path=/var/lib/rancher/k3s/server/logs/audit.log
  - audit-log-maxage=30
  - audit-log-maxbackup=10
  - audit-log-maxsize=100
