PasswordAuthentication no
PubkeyAuthentication yes
KbdInteractiveAuthentication no
PermitRootLogin prohibit-password
X11Forwarding no
MaxAuthTries 3
LoginGraceTime 30
LogLevel VERBOSE
AllowGroups root
ClientAliveInterval 300
ClientAliveCountMax 2
